<form (ngSubmit)="filterEvents()" [formGroup]='searchFormEvents' novalidate>
  <mat-form-field>
    <mat-label>Adresa</mat-label>
    <input formControlName="address" matInput name="address" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Lokacija</mat-label>
    <mat-select formControlName="location">
      @for (Location of locations; track Location.id) {
        <mat-option [value]="Location">{{ Location.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tip</mat-label>
    <input formControlName="type" matInput name="type" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cena</mat-label>
    <input formControlName="price" matInput name="price" type="number"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Datum</mat-label>
    <input formControlName="date" matInput name="date" type="date"/>
  </mat-form-field>

  <div>
    <button color="primary" matButton="outlined" type="submit">Pretrazi</button>
  </div>
</form>
<button color="primary" matButton="outlined" (click)="resetFilters()">Resetuj pretragu</button>


<button [routerLink]="['../addevent']" matButton>Dodaj novi dogadjaj</button>
@for (FrontendEvent of events; track FrontendEvent.id) {

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{ FrontendEvent.name }} - ID: {{ FrontendEvent.id }}</mat-card-title>
      <mat-card-subtitle>{{ FrontendEvent.address }}</mat-card-subtitle>
    </mat-card-header>
    <div>
      <img alt="Placeholder image"
           mat-card-image
           src="http://localhost:8080/images/{{FrontendEvent.imageFilename}}"
           style="width: 100%; height: 500px">
    </div>
    <mat-card-content>
      <p>
        @if (FrontendEvent.price <= 0) {
          <p>Besplatno!</p>
        } @else {
          Cena: {{ FrontendEvent.price }}
        }
        <br>
        Datum: {{ FrontendEvent.date }}
        <br>
        {{ FrontendEvent.type }}
        <br>
        @if (FrontendEvent.recurrent) {
          <p>Ponavlja se!</p>
        } @else {
          <p>Ne ponavlja se!</p>
        }
        <br>
        Lokacija: {{ FrontendEvent.location.name }}


      </p>
    </mat-card-content>
    <mat-card-actions>
      @for (EventLocation of managedLocations; track EventLocation.id) {
        <!-- TODO ovako vadis lokacije kojima korisnik upravlja! -->
        @if (FrontendEvent.location.name == EventLocation.name) {
          <h5>Upravljate lokacijom na kojoj se ovaj dogadjaj odrzava</h5>
          <button [routerLink]="['../editevent/' + FrontendEvent.id]" matButton>Izmeni
          </button>      <!-- TODO ceo CRUD-->
          <button (click)="deleteEvent(FrontendEvent.id)" matButton>Obrisi</button>
        }

      }

    </mat-card-actions>
  </mat-card>

}
