<form (ngSubmit)="addReview()" [formGroup]='reviewForm' novalidate>
  <mat-form-field>
    <mat-label>Performans</mat-label>
    <input formControlName="performance" matInput name="performance" type="number"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Zvuk i Osvetljenje</mat-label>
    <input formControlName="soundAndLightning" matInput name="soundAndLightning" type="number"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Organizacija</mat-label>
    <input formControlName="venue" matInput name="venue" type="number"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Generalni utisak</mat-label>
    <input formControlName="overallImpression" matInput name="overallImpression" type="number"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Dogadjaj</mat-label>
    <mat-select formControlName="event">

      <!--      @for (location of locations; track location.id) {-->
      @for (FrontendEvent of events; track FrontendEvent.id) {
<!--        {{ console.log("DATUM FRONTEND EVENTA " + FrontendEvent.date.getTime) }}-->
<!--        {{ console.log("TRENUTNO VREME " + currentDate.getTime())}}-->
        @if (FrontendEvent.location.name == currentLocation?.name && FrontendEvent.recurrent && FrontendEvent.date.getTime() < currentDate.getTime()) {
          <mat-option [value]="FrontendEvent">{{ FrontendEvent.name }}</mat-option>
        }
      }
      <!--      }-->

    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Komentar:</mat-label>
    <input formControlName="commentText" matInput name="commentText" type="text"/>
  </mat-form-field>
  <!--  <input formControlName="madeBy" name="madeby" type="hidden" value="{{localStorage.getItem('name')}}"/>-->
  <div>
    <button color="primary" matButton="outlined" type="submit">Potvrdi</button>
  </div>
</form>

