<form (ngSubmit)="editUser()" [formGroup]='profileForm'>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input formControlName="email" matInput name="email" type="email"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Ime</mat-label>
    <input formControlName="name" matInput name="name" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Broj telefona</mat-label>
    <input formControlName="phone_number" matInput name="phone_number" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Grad</mat-label>
    <input formControlName="city" matInput name="birthday" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Adresa</mat-label>
    <input formControlName="address" matInput name="address" type="text"/>
  </mat-form-field>
  <div>
    <button color="primary" matButton="outlined" type="submit">Potvrdi</button>
  </div>
</form>

<form (ngSubmit)="changePassword()" [formGroup]="changePswForm">
  <br>
  Lozinka:
  <br>
  @if (passwordsDontMatch) {
    <h3 style="background-color: red">Lozinke se ne poklapaju!</h3>
  }
  @if (wrongPassword) {
    <h3 style="background-color: red">Uneli ste pogresnu sifru!</h3>
  }
  <mat-form-field>
    <mat-label>Stara lozinka:</mat-label>
    <input formControlName="oldpassword" matInput name="oldpassword" type="password"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nova lozinka:</mat-label>
    <input formControlName="newpassword" matInput name="newpassword" type="password"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Nova lozinka, ponovo:</mat-label>
    <input formControlName="newpasswordagain" matInput name="newpasswordagain" type="password"/>
  </mat-form-field>
  <div>
    <button color="primary" matButton="outlined" type="submit">Promeni lozinku</button>
  </div>
</form>
<br>
<h4>Profilna slika:</h4>

<br>
<img src="http://localhost:8080/images/{{localStorage.getItem('image')}}"
     alt="avatar" style="width:354px; height:354px; border-radius:50%; object-fit:cover; margin-left:8px;">
<form (ngSubmit)="changeProfilePicture()">
  <input type="file" name="image" (change)="onFileSelected($event)">
  <button matButton type="submit">Promeni sliku</button>
</form>
<h2>Upravljate sledecim lokacijama: </h2>
@for (EventLocation of locations; track EventLocation.id) {
  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{ EventLocation.name }} - ID: {{ EventLocation.id }}</mat-card-title>
      <mat-card-subtitle>{{ EventLocation.address }}</mat-card-subtitle>
    </mat-card-header>
    <!--    <div>-->
    <!--      <img alt="Placeholder image"-->
    <!--           mat-card-image-->
    <!--           src="https://www.cvent.com/sites/default/files/styles/focus_scale_and_crop_800x450/public/image/2023-11/Business_Travel_Trends_Bleisure_Event-Cvent_CONNECT_2023.jpg.webp?itok=F_USbJO1"-->
    <!--           style="width: 100%; height: 500px">-->
    <!--    </div>-->
    <mat-card-content>
      <p>
        {{ EventLocation.description }}
        <br>
        Kreirano: {{ EventLocation.createdAt ? EventLocation.createdAt : [2] }}
        .{{ EventLocation.createdAt ? EventLocation.createdAt : [1] }}
        .{{ EventLocation.createdAt ? EventLocation.createdAt : [0] }}
        <br>
        {{ EventLocation.type }}
        <br>
        <!--        // TODO mozda kasnije uraditi?-->
        Ocene:
        <!--        <br>-->
        <!--        @for (FrontendReview of reviews; track FrontendReview.id) {-->
        <!--          @if (FrontendReview.event?.location?.name == EventLocation.name) {-->
        <!--            Ostavljeno od strane: {{ FrontendReview.madeBy }} |-->
        <!--              Performans: {{ FrontendReview.rate.performance }} ✪ |-->
        <!--              Zvuk i Rasveta: {{ FrontendReview.rate.soundAndLightning }} ✪ |-->
        <!--              Mesto: {{ FrontendReview.rate.venue }} ✪ |-->
        <!--              Generalna ocena: {{ FrontendReview.rate.overallImpression }} ✪-->
        <!--            <br>-->
        <!--          }-->
        <!--        }-->

        <!--        <br>-->
        Ukupna Ocena: {{ EventLocation.totalRating }}
        <br>


      </p>
    </mat-card-content>
  </mat-card>
}
<h3>Vase recenzije: </h3>
@for (FrontendReview of reviews; track FrontendReview.id) {
  @if (FrontendReview.madeBy == localStorage.getItem("name")) {
    Ostavljeno od strane: {{ FrontendReview.madeBy }} |
      Za Lokaciju: {{ FrontendReview.event?.location?.name }} |
      Performans: {{ FrontendReview.rate.performance }} ✪ |
      Zvuk i Rasveta: {{ FrontendReview.rate.soundAndLightning }} ✪ |
      Mesto: {{ FrontendReview.rate.venue }} ✪ |
      Generalna ocena: {{ FrontendReview.rate.overallImpression }} ✪ <br>
    Komentar: {{ FrontendReview.comment?.text }}
    <br>
  }
}
