<form (ngSubmit)="searchLocations()" [formGroup]='searchForm' novalidate>
  <mat-form-field>
    <mat-label>Naziv</mat-label>
    <input formControlName="name" matInput name="name" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Adresa</mat-label>
    <input formControlName="address" matInput name="address" type="text"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tip</mat-label>
    <input formControlName="type" matInput name="type" type="text"/>
  </mat-form-field>

  <div>
    <button color="primary" matButton="outlined" type="submit">Pretrazi</button>
  </div>
</form>
<button color="primary" matButton="outlined" (click)="resetFilters()">Resetuj pretragu</button>

@if (role == "ROLE_ADMINISTRATOR") {
  <button matButton [routerLink]="['../addlocation']">Dodaj novu lokaciju</button>
}

@for (eventLocation of locations; track eventLocation.id) {

  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{ eventLocation.name }} - ID: {{ eventLocation.id }}</mat-card-title>
      <mat-card-subtitle>{{ eventLocation.address }}</mat-card-subtitle>
    </mat-card-header>
    <div>

      <img alt="Placeholder image"
           mat-card-image

           src="http://localhost:8080/images/{{eventLocation.imageFilename}}"
           style="width: 100%; height: 500px">
    </div>
    <mat-card-content>
      <p>
        {{ eventLocation.description }}
        <br>
        Kreirano: {{ eventLocation.createdAt }}
        <br>
        {{ eventLocation.type }}
        <br>
        Ocene:
        <br>
        Sortiraj Po:
      <form (ngSubmit)="sortReviews()" [formGroup]="sortForm">
        <mat-form-field>
          <mat-label>Sortiraj po</mat-label>
          <mat-select formControlName="sortType">

            <mat-option value="rating">Ocenama</mat-option>
            <mat-option value="date">Datmu objavljivanja</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Redosled</mat-label>
          <mat-select formControlName="order">

            <mat-option value="asc">Rastuce</mat-option>
            <mat-option value="desc">Opadajuce</mat-option>

          </mat-select>
        </mat-form-field>
        <button matButton type="submit">Sortiraj</button>
      </form>
      <br>
      @for (FrontendReview of reviews; track FrontendReview.id) {
        @if (FrontendReview.event?.location?.name == eventLocation.name && !FrontendReview.hidden) {
          Ostavljeno od strane: {{ FrontendReview.madeBy }} |
            Performans: {{ FrontendReview.rate.performance }} ✪ |
            Zvuk i Rasveta: {{ FrontendReview.rate.soundAndLightning }} ✪ |
            Mesto: {{ FrontendReview.rate.venue }} ✪ |
            Generalna ocena: {{ FrontendReview.rate.overallImpression }} ✪
          <br>
          Komentar: {{ FrontendReview.comment?.text }}
          <br>
          @for (ManagedLocation of managedLocations; track ManagedLocation.id) {
            @if (eventLocation.name == ManagedLocation.name) {
              <form (ngSubmit)="addComment(FrontendReview.comment)" [formGroup]="replyForm">
                <mat-form-field>
                  <mat-label>Odgovor...</mat-label>
                  <input formControlName="text" matInput name="text" type="text"/>
                </mat-form-field>
                <!--              <input type="hidden" formControlName="repliesTo" value="{{FrontendReview.comment}}">-->
                <button type="submit" matButton>Odgovori</button>
                <button matButton (click)="hideReview(FrontendReview.id)">Sakrij recenziju</button>
              </form>
            }
          }
          @for (frontendComment of comments; track frontendComment.id) {
            @if (frontendComment.repliesTo?.id == FrontendReview.comment?.id) {
              Odgovor menadzera: {{ frontendComment.text }}
            }
          }
          <br>
          <br>
        }
      }

      <br>
      Ukupna Ocena: {{ eventLocation.totalRating }}
      <br>
      Predstojeci Dogadjaji:
      @for (frontendEvent of events; track frontendEvent.id) {
        @if (frontendEvent.location.id == eventLocation.id && frontendEvent.date.getTime() > currentDate.getTime()) {
          <h4>{{ frontendEvent.name }}</h4>
          <p>{{ frontendEvent.date.getDay() }}.{{ frontendEvent.date.getMonth() }}
            .{{ frontendEvent.date.getFullYear() }}</p>
        }
      }
      <br>
      Oceni:
      <app-review-form [currentLocation]="eventLocation"></app-review-form>


    </mat-card-content>
    <mat-card-actions>
      @if (role == "ROLE_ADMINISTRATOR") {
        <button [routerLink]="['../editlocation/' + eventLocation.id]" matButton>Izmeni</button>
        <button (click)="deleteLocation(eventLocation.id)" matButton>Obrisi</button>
      } @else if (role == "ROLE_USER") {
        @for (ManagedLocation of managedLocations; track ManagedLocation.id) {
          @if (eventLocation.name == ManagedLocation.name) {
            <button [routerLink]="['../editlocation/' + eventLocation.id]" matButton>Izmeni</button>
          }
        }
      }

    </mat-card-actions>
  </mat-card>
}

