<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Adresa</th>
    <th>Status</th>
    <th>Datum</th>
    <th>Akcija</th>
  </tr>
  </thead>
  <tbody>
    @for (RegistrationRequest of registrationRequests; track RegistrationRequest.id) {
      <tr>
        <td>{{ RegistrationRequest.email }}</td>
        <td>{{ RegistrationRequest.address }}</td>
        <td>{{ RegistrationRequest.status }}</td>
        <td>{{ RegistrationRequest.createdAt }}</td>
        <td>
          @if (RegistrationRequest.status == 'PENDING') {
            <button matButton="outlined" (click)="accept(RegistrationRequest.id)">Prihvati</button>
            <button matButton="outlined">Odbij</button>
          } @else {
            <p>Status je {{ RegistrationRequest.status }} !</p>
          }
        </td>
      </tr>
    }
  </tbody>
</table>

