<form (ngSubmit)="editLocation()" [formGroup]='locationForm' novalidate>
  <mat-form-field>
    <mat-label>Ime</mat-label>
    <input formControlName="name" matInput name="name" type="text" value="{{location?.name}}"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Opis</mat-label>
    <input formControlName="description" matInput name="description" type="text" value="{{location?.description}}"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Adresa</mat-label>
    <input formControlName="address" matInput name="address" type="text" value="{{location?.address}}"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tip</mat-label>
    <input formControlName="type" matInput name="type" type="text" value="{{location?.type}}"/>
  </mat-form-field>
  <input formControlName="id" name="id" type="hidden" value="{{location?.id}}"/>
  <div>
    <button color="primary" matButton="outlined" type="submit">Potvrdi</button>
  </div>
</form>
<h2>Menadzeri ove lokacije:</h2>
@for (manager of managers; track manager.email) {
  <mat-card appearance="outlined" class="example-card">
    <mat-card-header>
      <!--      <div mat-card-avatar class="example-header-image"></div>-->
      <mat-card-title>{{ manager.name }} - Email: {{ manager.email }}</mat-card-title>
      <mat-card-subtitle>{{ manager.phone_number }}</mat-card-subtitle>
      <mat-card-subtitle>{{ manager.address }}</mat-card-subtitle>
      <mat-card-subtitle>{{ manager.city }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (role == "ROLE_ADMINISTRATOR") {
        <button matButton (click)="removeManager(manager.email)">Ukloni menadzera sa lokacije</button>
      }
    </mat-card-content>
  </mat-card>
}
@if (role == "ROLE_ADMINISTRATOR") {
  <form (ngSubmit)="addManager()" [formGroup]="managerForm">
    <mat-form-field>
      <mat-label>Dodaj novog menadzera:</mat-label>
      <input formControlName="email" matInput name="managerEmail" type="text"/>
    </mat-form-field>
      <button matButton type="submit">Dodaj</button>

  </form>
}


